:root {
  --Game-T-Container-min-height: 30%;
  --Game-T-Container-width: 100%;
  --Gallery_slides-min-height: 15em;
  --dots-width: 100%;
  --dots-min-height: 4em;
  --dots-label-height: calc(var(--dots-min-height) / 2.25);
  --dots-label-height-2: calc(var(--dots-min-height));
  --dots-label-height-3: calc(var(--dots-min-height) * 1.4);
  --dots-label-width: calc(100% / 6 - 10%);
  --dots-label-width-2: calc(100% / 6);
  --dots-label-width-3: calc(100% / 6 + 13%);
  --dots-label-width-4: 100%;
}

.Dis_None {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  gap: 0;
}

#searchsection {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#searchsection input,
#searchsection button {
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  text-align: center;
  border: none;
}

#searchsection input {
  width: 100%;
  max-width: 37rem;
}

#searchsection button {
  min-width: fit-content;
  cursor: pointer;
  background-color: #e6e6e6;
}

#searchsection button:hover {
  background-color: #d4d4d4cf;
  transition: 0.4s ease-in;
}

#searchsection button:active {
  background-color: #363636;
  transition: none;
}

.GameContainer {
  border: 2px solid #cfcfcf;
  border-radius: 20px;
  margin: 1rem;
  margin-bottom: 3rem;
  padding: 0.7rem 1rem;
  backdrop-filter: brightness(1.9);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
}

.GameContainer.fadein {
  opacity: 1;
  transform: translateX(0);
  animation: fadein 1.2s cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
}

.GameContainer.right.fadein {
  animation: fadein_right 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.tumbnail {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000000ba;
}

.detailscontainer {
  width: 100%;
  margin: 1rem 0rem;
  padding: 0.3rem 0.3rem;
  color: #bdbdbd;
  display: block;
  height: 100%;
}

.detailscontainer h3 {
  text-align: center;
  text-decoration: underline;
}

.detailscontainer p {
  padding: 0.5rem 0.3rem;
}

.detailscontainer button {
  width: 100%;
  margin: 0.7rem 0rem;
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  background-color: #d9d9d9d9;
  box-shadow: 0px 0px 10px #000000c2;
  cursor: pointer;
}

.detailscontainer button:hover {
  color: #949494;
  background-color: #252525cd;
}

.detailscontainer button:active {
  color: #252525cd;
  background-color: #949494;
}

#searchingprompt {
  padding: 1rem 1.5rem;
  color: #949494;
  width: 100%;
  text-align: center;
}

#GameDetailsContainer {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#GameDetailsContainer h2 {
  color: #c1c1c1;
  font-weight: lighter;
  font-size: 2.2rem;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  text-shadow: 0 5px 10px rgb(130, 43, 145);
  text-decoration: underline;
  font-family: "Gabriola";
}

#GameDetailsContainer hr {
  border: 1px solid #4a4a4a;
  width: 100%;
}

.Game_Description,
.Game_Details {
  color: #9d9d9d;
  font-weight: lighter;
  font-size: 1rem;
  padding: 1.5rem 1rem;
  width: 100%;
  border-radius: 20px;
  backdrop-filter: brightness(2);
}

/* ////////////////////////////////// */

.Game_T_Container {
  max-height: var(--Game-T-Container-min-height);
  width: var(--Game-T-Container-width);
  margin: 0;
  padding: 0.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Gallery_slides {
  min-height: var(--Gallery_slides-min-height);
  width: 100%;
  padding: 0.5rem;
}

.Gallery_slides label {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.Slide {
  width: 100%;
  border-radius: 20px;
}

#T:checked ~ .Gallery_slides label[for="T"],
#S1:checked ~ .Gallery_slides label[for="S1"],
#S2:checked ~ .Gallery_slides label[for="S2"],
#S3:checked ~ .Gallery_slides label[for="S3"],
#S4:checked ~ .Gallery_slides label[for="S4"],
#S5:checked ~ .Gallery_slides label[for="S5"] {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.dots {
  width: var(--dots-width);
  min-height: var(--dots-min-height);
  display: flex;
  justify-content: space-between;
}

.dots label {
  width: var(--dots-label-width);
  min-height: var(--dots-label-height);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 8px;
}

.DotSlide {
  height: 100%;
}

#T:checked ~ .dots label[for="T"],
#S1:checked ~ .dots label[for="S1"],
#S2:checked ~ .dots label[for="S2"],
#S3:checked ~ .dots label[for="S3"],
#S4:checked ~ .dots label[for="S4"],
#S5:checked ~ .dots label[for="S5"] {
  width: var(--dots-label-width-3);
}

#T:checked ~ .dots label[for="S1"],
#S1:checked ~ .dots label[for="T"],
#S1:checked ~ .dots label[for="S2"],
#S2:checked ~ .dots label[for="S1"],
#S2:checked ~ .dots label[for="S3"],
#S3:checked ~ .dots label[for="S2"],
#S3:checked ~ .dots label[for="S4"],
#S4:checked ~ .dots label[for="S3"],
#S4:checked ~ .dots label[for="S5"],
#S5:checked ~ .dots label[for="S4"] {
  width: var(--dots-label-width-2);
}

.download_btn {
  width: fit-content;
  padding: 0.4rem 1rem;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  margin: 1rem;
  color: #f5f5f5;
  background-color: transparent;
  backdrop-filter: brightness(0.2);
  text-align: center;
  cursor: pointer;
  transition: none;
}

.download_btn:hover {
  color: #000000;
  border: 2px solid #000000;
  background-color: #ffffffc2;
  transition: color, border, background 0.3s ease-in;
}

.download_btn:active {
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  background-color: transparent;
  transition: none;
}

.tak_image {
  max-width: 85%;
  max-height: 35rem;
  box-shadow: 0 0 10px #003487;
  border-radius: 10px;
}

@media screen and (min-width: 911px) {
  :root {
    --dots-width: 50%;
  }

  .Game_T_Container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .dots {
    height: 100%;
    flex-direction: column;
  }

  .dots label {
    min-width: var(--dots-label-width-4);
    width: var(--dots-label-width-4);
    margin: 0.2em 0;
    min-height: var(--dots-label-height);
  }

  #T:checked ~ .dots label[for="T"],
  #S1:checked ~ .dots label[for="S1"],
  #S2:checked ~ .dots label[for="S2"],
  #S3:checked ~ .dots label[for="S3"],
  #S4:checked ~ .dots label[for="S4"],
  #S5:checked ~ .dots label[for="S5"] {
    min-height: var(--dots-label-height-3);
  }

  #T:checked ~ .dots label[for="S1"],
  #S1:checked ~ .dots label[for="T"],
  #S1:checked ~ .dots label[for="S2"],
  #S2:checked ~ .dots label[for="S1"],
  #S2:checked ~ .dots label[for="S3"],
  #S3:checked ~ .dots label[for="S2"],
  #S3:checked ~ .dots label[for="S4"],
  #S4:checked ~ .dots label[for="S3"],
  #S4:checked ~ .dots label[for="S5"],
  #S5:checked ~ .dots label[for="S4"] {
    min-height: var(--dots-label-height-2);
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --dots-min-height: 6em;
    --Gallery-slides-max-width: 50%;
    --dots-width: 20%;
  }

  .Gallery_slides {
    max-width: var(--Gallery-slides-max-width);
  }

  .GameContainer {
    flex-direction: row;
  }

  .GameContainer.right {
    flex-direction: row-reverse;
  }

  .tumbnail {
    width: 35%;
  }

  .detailscontainer {
    margin: 0rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1349px) {
  :root {
    --dots-min-height: 6em;
  }
}

@media screen and (min-width: 1760px) {
  :root {
    --dots-min-height: 8em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(120%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein_right {
  from {
    opacity: 0;
    transform: translateX(-120%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
