@font-face {
  font-family: vazirmatn;
  src: url(fonts/Vazirmatn-Medium.ttf);
}

@font-face {
  font-family: lotus;
  src: url(fonts/BLOTUS.TTF);
}

@font-face {
  font-family: Digi;
  src: url(fonts/BKOODB.TTF);
}

* {
  margin: 0;
  padding: 0;
  gap: 0;
  box-sizing: border-box;
  font-family: "vazirmatn", "Digi", "lotus";
}

body {
  /* background: linear-gradient(45deg ,#6666668c , #d2d2d28c , #6666668c); */
  background-color: #0e0e0e;
  width: 100%;
}

header {
  background-image: url(icons/teamicon.jpg);
  background-clip: border-box;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 5px 10px #4b044e;
}

.header_detail_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 1.2em;
  width: 100%;
}

.teamname {
  padding: 0.2rem 0.2rem;
  color: whitesmoke;
  font-weight: lighter;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  border: none;
  backdrop-filter: brightness(0.2);
  text-shadow: 0px 0px 15px #000;
  max-height: fit-content;
}

.header_detail_container nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  backdrop-filter: brightness(0.2);
  width: 100%;
  border-radius: 20px;
}

.headerlogoimage {
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.headerlogoimage img {
  width: 100%;
  height: 100%;
  border: 5px solid #282828eb;
  box-shadow: 0px 0px 7px #fff;
  border-radius: 20px;
}

.header_butt {
  width: 20%;
  max-width: 8rem;
  min-width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0.15rem 0.7rem;
  margin: 20px 0.2rem;
  border: 2px solid #edededeb;
  border-radius: 10px;
  font-size: 0.7rem;
  cursor: pointer;
}

.header_butt img {
  height: 1rem;
}

.header_butt:not(:hover) {
  transition: background 0.2s ease-out;
  background-color: transparent;
  color: whitesmoke;
}

.header_butt:hover {
  background-color: #000000eb;
  color: whitesmoke;
  transition: background 0.2s ease-in;
}

.header_butt.active {
  background-color: #edededeb;
  color: black;
  margin: 20px 1rem;
  transform: scale(120%);
  transition: background 0.2s ease-in;
  box-shadow: 0px 0px 15px #000;
  padding: 0.15rem 0.35rem;
}

#MainMenu,
#AUMainMenu {
  padding: 1.5rem 0rem;
  margin: 0;
  height: 100%;
  min-height: 50vh;
  width: 100%;
  background: linear-gradient(45deg,
      #000000,
      #4400428c,
      transparent,
      #4400428c,
      #000000);
  overflow-x: hidden;
}

#AUMainMenu {
  min-height: 100vh;
}


.aboutuscontainer {
  width: 100%;
  margin-top: 1.5rem;
  height: fit-content;
  padding: 1rem 1rem;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutuscontent {
  max-width: 18rem;
  margin-bottom: 1rem;
  border: 5px solid #af25c2;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: brightness(2);
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 0.7s ease, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.aboutuscontent.fade-up {
  opacity: 1;
  transform: translateY(0);
  animation: fadeUp 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.aboutuscontainer h2 {
  color: white;
  padding: 0.7rem 1rem;
  text-align: center;
}

.aboutuscontainer p {
  color: white;
  padding: 0.7rem 1rem;
  text-align: center;
}

.backtopButtbox {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.backtopButt {
  text-align: center;
  padding: 0.3rem 1rem;
  margin: auto;
  color: #bfbfbf;
  text-decoration: none;
  backdrop-filter: brightness(0.5);
  border-radius: 25px;
  box-shadow: 0px 0px 7px #ffffff8c;
}

.backtopButt:hover {
  background-color: #bfbfbfb6;
  color: #000;
  transition: 0.3s ease-in;
}

#Footer {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0px;
  box-shadow: 0px -7px 15px #000;
}

.footer_span {
  width: 100%;
  padding: 0.5rem;
  border-radius: 20px;
  margin: 0 0.5rem;
}

.footer_span h3 {
  text-align: center;
  color: #868686;
}

.sugguest_games {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.tel_p {
  margin-top: 0.5rem;
  color: #bdbdbd;
}

.sugguest_games a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.5rem 0;
}

.tel_p a {
  color: #247bc8;
  text-decoration: none;
}

.sugguest_games a:hover,
.tel_p a:hover {
  color: #2a43b6;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes nextslide_in {
  from {
    opacity: 0;
    /* transform: translateX(-100%); */
  }

  to {
    opacity: 1;
    /* transform: none; */
  }
}

/* 
@keyframes nextslide_out  {
    from{
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
} */

@media screen and (min-width: 768px) {
  .teamname {
    font-size: 2.5rem;
  }

  .header_butt {
    font-size: 1.15rem;
    padding: 0.3rem 0.7rem;
  }

}

@media screen and (min-width: 1024px) {
  header {
    background-image: none;
    background: linear-gradient(135deg,
        #e066ff8c,
        #bf00ff8c,
        #da70d68c,
        #ff00ff8c,
        #dda0dd8c);
  }

  .header_detail_container {
    gap: 0.5rem;
  }

  .header_detail_container nav {
    padding: 0 1rem;
    justify-content: flex-start;
    backdrop-filter: none;
  }

  .headerlogoimage {
    display: flex;
  }

  .teamname {
    font-size: 2.5rem;
    padding: 0.5rem 2rem;

    text-align: left;
    backdrop-filter: none;
  }


  .header_butt {
    font-size: 0.7rem;
    padding: 0.4rem 1rem;
  }

  .header_butt.active {
    padding: 0.15rem 0.35rem;
  }

  .header_butt img {
    height: 1rem;
  }

  .GameTumbnaleContainer {
    justify-content: space-evenly;
    padding: 0 45px;
  }

  .GameTumbnaleimagebox {
    width: 67%;
    max-width: fit-content;
  }

  .gametumbnaildetailsbox {
    display: block;
  }

  .gametumbnaildetailssection {
    display: none;
  }

  .footer_span {
    max-width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .pup_games_slide {
    height: 26rem;
  }
}