.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.slider input {
  display: none;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 12em;
  position: relative;
  perspective: 1000px;
}

.slides .slide {
  width: fit-content;
  min-width: 100%;
  min-height: 100%;
  padding: 0.7rem;
  border-radius: 11px;
  position: absolute;
  background-color: transparent;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px #0000004d;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.slide_thumbnail {
  width: 100%;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide_decription {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
}

.slide_decription a {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #161616;
  border-right: none;
  backdrop-filter: brightness(0.2);
  color: #d1d1d1;
  text-align: right;
  padding: 0.4rem 0.7rem;
  display: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    outline 0.2s ease-out;
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(30px) translateZ(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

.slide_decription a:hover {
  color: #626262;
  outline: 3px solid #000000;
  outline-offset: 2px;
}

.slide_decription a:active {
  border: 2px solid #161616;
  background-color: transparent;
  color: #d1d1d1;
}

.dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0.5rem;
  gap: 1rem;
}

.dots label {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #413b52;
  margin: 7px;
  transition-duration: 0.2s;
  cursor: pointer;
}

#S1:checked ~ .dots label[for="S1"],
#S2:checked ~ .dots label[for="S2"],
#S3:checked ~ .dots label[for="S3"],
#S4:checked ~ .dots label[for="S4"],
#S5:checked ~ .dots label[for="S5"] {
  transform: scale(2);
  background-color: #fff;
  box-shadow: 0 0 0 3px #dddddd24;
}

#S1:checked ~ .dots label[for="S2"],
#S2:checked ~ .dots label[for="S1"],
#S2:checked ~ .dots label[for="S3"],
#S3:checked ~ .dots label[for="S2"],
#S3:checked ~ .dots label[for="S4"],
#S4:checked ~ .dots label[for="S3"],
#S4:checked ~ .dots label[for="S5"],
#S5:checked ~ .dots label[for="S4"] {
  transform: scale(1.5);
}

#S1:checked ~ .slides label[for="S2"],
#S2:checked ~ .slides label[for="S3"],
#S3:checked ~ .slides label[for="S4"],
#S4:checked ~ .slides label[for="S5"],
#S5:checked ~ .slides label[for="S1"] {
  transform: translate3d(0, 50%, -12em) rotateX(40deg);
  opacity: 1;
  z-index: 3;
}

#S1:checked ~ .slides label[for="S5"],
#S2:checked ~ .slides label[for="S1"],
#S3:checked ~ .slides label[for="S2"],
#S4:checked ~ .slides label[for="S3"],
#S5:checked ~ .slides label[for="S4"] {
  transform: translate3d(0, -50%, -12em) rotateX(-40deg);
  opacity: 1;
  z-index: 3;
}

#S1:checked ~ .slides label[for="S3"],
#S2:checked ~ .slides label[for="S4"],
#S3:checked ~ .slides label[for="S5"],
#S4:checked ~ .slides label[for="S1"],
#S5:checked ~ .slides label[for="S2"] {
  transform: translate3d(0, 50%, -12em) rotateX(40deg);
  opacity: 0;
  z-index: 2;
}

#S1:checked ~ .slides label[for="S4"],
#S2:checked ~ .slides label[for="S5"],
#S3:checked ~ .slides label[for="S1"],
#S4:checked ~ .slides label[for="S2"],
#S5:checked ~ .slides label[for="S3"] {
  transform: translate3d(0, -50%, -12em) rotateX(-40deg);
  opacity: 0;
  z-index: 2;
}

#S1:checked ~ .slides label[for="S1"],
#S2:checked ~ .slides label[for="S2"],
#S3:checked ~ .slides label[for="S3"],
#S4:checked ~ .slides label[for="S4"],
#S5:checked ~ .slides label[for="S5"] {
  z-index: 5;
}

#S1:checked ~ .slides label[for="S1"] .slide_decription a,
#S2:checked ~ .slides label[for="S2"] .slide_decription a,
#S3:checked ~ .slides label[for="S3"] .slide_decription a,
#S4:checked ~ .slides label[for="S4"] .slide_decription a,
#S5:checked ~ .slides label[for="S5"] .slide_decription a {
  display: block;
  animation: slideInFromBottom 0.5s ease-out forwards;
}

@media screen and (min-width: 400px) {
  .slider {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .slides {
    min-height: 10rem;
  }

  #S1:checked ~ .slides label[for="S2"],
  #S2:checked ~ .slides label[for="S3"],
  #S3:checked ~ .slides label[for="S4"],
  #S4:checked ~ .slides label[for="S5"],
  #S5:checked ~ .slides label[for="S1"] {
    transform: translate3d(6em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S5"],
  #S2:checked ~ .slides label[for="S1"],
  #S3:checked ~ .slides label[for="S2"],
  #S4:checked ~ .slides label[for="S3"],
  #S5:checked ~ .slides label[for="S4"] {
    transform: translate3d(-6em, 0, -12em) rotateY(40deg);
  }

  #S1:checked ~ .slides label[for="S3"],
  #S2:checked ~ .slides label[for="S4"],
  #S3:checked ~ .slides label[for="S5"],
  #S4:checked ~ .slides label[for="S1"],
  #S5:checked ~ .slides label[for="S2"] {
    transform: translate3d(6em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S4"],
  #S2:checked ~ .slides label[for="S5"],
  #S3:checked ~ .slides label[for="S1"],
  #S4:checked ~ .slides label[for="S2"],
  #S5:checked ~ .slides label[for="S3"] {
    transform: translate3d(-6em, 0, -12em) rotateY(40deg);
  }

  .slides .slide {
    min-width: 18rem;
    max-width: 19rem;
  }

  .slide_thumbnail {
    width: fit-content;
    height: 100%;
  }

  .dots {
    flex-direction: row;
    margin-top: 2em;
  }
}

@media screen and (min-width: 539px) {
  .slides {
    min-height: 12rem;
  }

  .slides .slide {
    min-width: 22rem;
    max-width: 23rem;
  }

  #S1:checked ~ .slides label[for="S2"],
  #S2:checked ~ .slides label[for="S3"],
  #S3:checked ~ .slides label[for="S4"],
  #S4:checked ~ .slides label[for="S5"],
  #S5:checked ~ .slides label[for="S1"] {
    transform: translate3d(8em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S5"],
  #S2:checked ~ .slides label[for="S1"],
  #S3:checked ~ .slides label[for="S2"],
  #S4:checked ~ .slides label[for="S3"],
  #S5:checked ~ .slides label[for="S4"] {
    transform: translate3d(-8em, 0, -12em) rotateY(40deg);
  }

  #S1:checked ~ .slides label[for="S3"],
  #S2:checked ~ .slides label[for="S4"],
  #S3:checked ~ .slides label[for="S5"],
  #S4:checked ~ .slides label[for="S1"],
  #S5:checked ~ .slides label[for="S2"] {
    transform: translate3d(8em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S4"],
  #S2:checked ~ .slides label[for="S5"],
  #S3:checked ~ .slides label[for="S1"],
  #S4:checked ~ .slides label[for="S2"],
  #S5:checked ~ .slides label[for="S3"] {
    transform: translate3d(-8em, 0, -12em) rotateY(40deg);
  }
}

@media screen and (min-width: 767px) {
  .slides {
    min-height: 15em;
  }

  .slides .slide {
    min-width: 27em;
    max-width: 27.5em;
  }

  #S1:checked ~ .slides label[for="S2"],
  #S2:checked ~ .slides label[for="S3"],
  #S3:checked ~ .slides label[for="S4"],
  #S4:checked ~ .slides label[for="S5"],
  #S5:checked ~ .slides label[for="S1"] {
    transform: translate3d(8em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S5"],
  #S2:checked ~ .slides label[for="S1"],
  #S3:checked ~ .slides label[for="S2"],
  #S4:checked ~ .slides label[for="S3"],
  #S5:checked ~ .slides label[for="S4"] {
    transform: translate3d(-8em, 0, -12em) rotateY(40deg);
  }

  #S1:checked ~ .slides label[for="S3"],
  #S2:checked ~ .slides label[for="S4"],
  #S3:checked ~ .slides label[for="S5"],
  #S4:checked ~ .slides label[for="S1"],
  #S5:checked ~ .slides label[for="S2"] {
    transform: translate3d(8em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S4"],
  #S2:checked ~ .slides label[for="S5"],
  #S3:checked ~ .slides label[for="S1"],
  #S4:checked ~ .slides label[for="S2"],
  #S5:checked ~ .slides label[for="S3"] {
    transform: translate3d(-8em, 0, -12em) rotateY(40deg);
  }
}

@media screen and (min-width: 830px) {
  .slides {
    min-height: 16em;
  }

  .slides .slide {
    min-width: 28em;
    max-width: 28.5em;
  }

  .slide_decription a {
    font-size: 1rem;
  }

  #S1:checked ~ .slides label[for="S2"],
  #S2:checked ~ .slides label[for="S3"],
  #S3:checked ~ .slides label[for="S4"],
  #S4:checked ~ .slides label[for="S5"],
  #S5:checked ~ .slides label[for="S1"] {
    transform: translate3d(10em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S5"],
  #S2:checked ~ .slides label[for="S1"],
  #S3:checked ~ .slides label[for="S2"],
  #S4:checked ~ .slides label[for="S3"],
  #S5:checked ~ .slides label[for="S4"] {
    transform: translate3d(-10em, 0, -12em) rotateY(40deg);
  }

  #S1:checked ~ .slides label[for="S3"],
  #S2:checked ~ .slides label[for="S4"],
  #S3:checked ~ .slides label[for="S5"],
  #S4:checked ~ .slides label[for="S1"],
  #S5:checked ~ .slides label[for="S2"] {
    transform: translate3d(10em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S4"],
  #S2:checked ~ .slides label[for="S5"],
  #S3:checked ~ .slides label[for="S1"],
  #S4:checked ~ .slides label[for="S2"],
  #S5:checked ~ .slides label[for="S3"] {
    transform: translate3d(-10em, 0, -12em) rotateY(40deg);
  }
}

@media screen and (min-width: 1024px) {
  .slides {
    min-height: 21em;
  }

  .slides .slide {
    min-width: 38em;
    max-width: 38.5em;
  }

  .slide_decription a {
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
  }

  #S1:checked ~ .slides label[for="S2"],
  #S2:checked ~ .slides label[for="S3"],
  #S3:checked ~ .slides label[for="S4"],
  #S4:checked ~ .slides label[for="S5"],
  #S5:checked ~ .slides label[for="S1"] {
    transform: translate3d(12em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S5"],
  #S2:checked ~ .slides label[for="S1"],
  #S3:checked ~ .slides label[for="S2"],
  #S4:checked ~ .slides label[for="S3"],
  #S5:checked ~ .slides label[for="S4"] {
    transform: translate3d(-12em, 0, -12em) rotateY(40deg);
  }

  #S1:checked ~ .slides label[for="S3"],
  #S2:checked ~ .slides label[for="S4"],
  #S3:checked ~ .slides label[for="S5"],
  #S4:checked ~ .slides label[for="S1"],
  #S5:checked ~ .slides label[for="S2"] {
    transform: translate3d(12em, 0, -12em) rotateY(-40deg);
  }

  #S1:checked ~ .slides label[for="S4"],
  #S2:checked ~ .slides label[for="S5"],
  #S3:checked ~ .slides label[for="S1"],
  #S4:checked ~ .slides label[for="S2"],
  #S5:checked ~ .slides label[for="S3"] {
    transform: translate3d(-12em, 0, -12em) rotateY(40deg);
  }
}

@media screen and (min-width: 1200px) {
  .slides {
    min-height: 23em;
  }

  .slides .slide {
    min-width: 41em;
    max-width: 41.5em;
  }

  #S1:checked ~ .slides label[for="S2"],
  #S2:checked ~ .slides label[for="S3"],
  #S3:checked ~ .slides label[for="S4"],
  #S4:checked ~ .slides label[for="S5"],
  #S5:checked ~ .slides label[for="S1"] {
    transform: translate3d(10em, 0, -12em) rotateY(-30deg);
  }

  #S1:checked ~ .slides label[for="S5"],
  #S2:checked ~ .slides label[for="S1"],
  #S3:checked ~ .slides label[for="S2"],
  #S4:checked ~ .slides label[for="S3"],
  #S5:checked ~ .slides label[for="S4"] {
    transform: translate3d(-10em, 0, -12em) rotateY(30deg);
  }

  #S1:checked ~ .slides label[for="S3"],
  #S2:checked ~ .slides label[for="S4"],
  #S3:checked ~ .slides label[for="S5"],
  #S4:checked ~ .slides label[for="S1"],
  #S5:checked ~ .slides label[for="S2"] {
    transform: translate3d(22em, 0, -20em) rotateY(-45deg);
    opacity: 1;
  }

  #S1:checked ~ .slides label[for="S4"],
  #S2:checked ~ .slides label[for="S5"],
  #S3:checked ~ .slides label[for="S1"],
  #S4:checked ~ .slides label[for="S2"],
  #S5:checked ~ .slides label[for="S3"] {
    transform: translate3d(-22em, 0, -20em) rotateY(45deg);
    opacity: 1;
  }
}
